
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
}

    #mainNav .navbar-brand {
    }

    #mainNav .dropdown-item {
    }

    #mainNav .small {
    }


    #mainNav .dropdown-item:hover {
        background: #092139;
        color: white;
        transition: 0.3s ease-in-out;
    }



.dropdown-menu[data-bs-popper] {
    top: 136%;
    left: -10px;
    margin-top: 0.125rem;
}

.dropdown-menu {
    border-radius: 0rem 0rem 0.7rem 0.7rem;
    border-top-style: unset;
}



#mainNav .navbar-toggler {
    font-size: 0.875rem;
    color: #000000;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #092139;
}

    #mainNav .navbar-nav .nav-item .nav-link:hover {
        opacity: 0.4;
    }

    #mainNav .navbar-nav .nav-item .nav-link.active {
        color: #2937f0;
    }


footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

    footer a:hover, footer a:active, footer a:focus {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: underline;
    }

.masthead {
    background-color: #f1f8ff;
    padding-top: 6.5rem;
    padding-bottom: 2rem;
}

.dropdown-toggle::after {
    display: none;
}
