
@{
    ViewBag.Title = "Edit";
}

<div class="modal-body">
    @using (Html.BeginForm("Edit", "Images", FormMethod.Post, new { enctype = "multipart/form-data", id = "img-form", @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()
        <label>Select file (*.png) @ViewBag.Title </label>
        <input required="required" class="form-control" type="file" name="ImageFile" value="" style="width: 300px" />
        <div class="valid-feedback py-2">
            Looks good!
        </div>
    }
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-cl btn-secondary" data-bs-dismiss="modal">Close</button>
    <input type="submit" form="img-form" value="Upload" class="btn btn-primary" />
</div>

<script src="~/Scripts/Components/bootstrap5-validation.js"></script>
