
@{
    ViewBag.Title = "Contribute";
}


<div class="gx-5 mx-4">
    <h4 class="text-center bg-custom3 mx-5 py-2 rounded-pill1">Add New Dialogue</h4>
    <form id="form-add" method="post" class="bg-white rounded-pill2 shadow-sm p-4">
        <div class="row justify-content-center mb-4">
            <textarea name="sx" style="max-width: 500px; height:20px;" type="text" class="form-control text-center rounded-pill2 mx-5" placeholder="Ex: Lesson 1: Where are you from? ( Bạn đến từ đâu? )" aria-label="First name"></textarea>
        </div>
        <div class="row justify-content-center mb-4">
            <textarea name="sx" style="max-width: 600px; height:80px;" type="text" class="form-control text-center rounded-pill2 mx-5" placeholder="Enter description or none" aria-label="First name"></textarea>
        </div>
        <div id="load-sentences">
            <div class="row justify-content-center px-3 pb-3 pt-0 rounded-pill1 bg-light mb-4" style="border: 1px solid #d1d7dc; margin: 0;">
                <div class="d-flex justify-content-between">
                    <span class="my-2 pt-1">Enter sentences (EN/VI) :</span>
                    <button class="btn btn-sm btn-outline-danger rounded-pill1 my-2 btn-cancel" style="padding: 3px 16px 0px;">Cancel</button>
                </div>
                <div class="row px-0">
                    <div class="col">
                        <textarea name="sx" style="max-width: none;" type="text" class="form-control" placeholder="Enter english text: A: Good. Do you speak English?" aria-label="First name"></textarea>
                    </div>
                    <div class="col">
                        <textarea name="sx" style="max-width: none;" type="text" class="form-control" placeholder="Enter translation: Tôi khỏe. Bạn biết nói Tiếng Anh chứ?" aria-label="Last name"></textarea>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center px-3 pb-3 pt-0 rounded-pill1 bg-light mb-4" style="border: 1px solid #d1d7dc; margin: 0;">
                <div class="d-flex justify-content-between">
                    <span class="my-2 pt-1">Enter sentences (EN/VI) :</span>
                    <button class="btn btn-sm btn-outline-danger rounded-pill1 my-2 btn-cancel" style="padding: 3px 16px 0px;">Cancel</button>
                </div>
                <div class="row px-0">
                    <div class="col">
                        <textarea name="sx" style="max-width: none;" type="text" class="form-control" placeholder="Enter english text: B: A little. Are you American?" aria-label="First name"></textarea>
                    </div>
                    <div class="col">
                        <textarea name="sx" style="max-width: none;" type="text" class="form-control" placeholder="Enter translation: Một ít. Bạn là người Mỹ à?" aria-label="Last name"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mb-4">
            <button id="btn-addsentence" class="btn btn-outline-custom1 rounded-pill1">+ Add input box</button>
        </div>
        <hr />
        <div class="row justify-content-center">
            <button type="submit" id="btn-send" class="btn btn-custom2 rounded-pill2 w-25">Upload</button>
        </div>
    </form>
    @*@if (ViewBag.Result != null)
        {
            if (ViewBag.Result != "success")
            {
                <div class="alert alert-danger">@ViewBag.Result</div>
            }
            else
            {
                <div class="alert alert-info">Imported successfully</div>
            }
        }


        @using (Html.BeginForm("Index", "ImportExport", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <label>Select file (*.xlsx)</label>
            <input class="form-control" type="file" name="file" value="" style="width: 300px" />
            <br />
            <input type="submit" value="Upload" class="btn btn-primary" />
        }*@
</div>

@section scripts {
    <script type="text/javascript">
        var elementSentence =
            `
            <div class="row justify-content-center px-3 pb-3 pt-0 rounded-pill1 bg-light mb-4" style="border: 1px solid #d1d7dc; margin: 0;">
                <div class="d-flex justify-content-between">
                    <span class="my-2 pt-1">Enter sentences (EN/VI) :</span>
                    <button class="btn btn-sm btn-outline-danger rounded-pill1 my-2 btn-cancel" style="padding: 3px 16px 0px;">Cancel</button>
                </div>
                <div class="row px-0">
                    <div class="col">
                        <textarea name="sx" style="max-width: none;" type="text" class="form-control" placeholder="Enter english text: A: Good. Do you speak English?" aria-label="First name"></textarea>
                    </div>
                    <div class="col">
                        <textarea name="sx" style="max-width: none;" type="text" class="form-control" placeholder="Enter translation: Tôi khỏe. Bạn biết nói Tiếng Anh chứ?" aria-label="Last name"></textarea>
                    </div>
                </div>
            </div>
            `;
        
        var elementLoad = $('#load-sentences');
        var addSentence = () => {
            $('#btn-addsentence').on('click', function (e) {
                e.preventDefault();
                elementLoad.append(elementSentence);
            })
        }

        var cancelSentence = () => {
            $(document).on('click', '.btn-cancel', function (e) {
                e.preventDefault();
                var _this = $(this);
                _this.parents('.bg-light').remove();
            })
        }

        var handleSend = () => {
            $('form').on('submit', function (e) {
                e.preventDefault();
                var inputs = $('form').find('textarea');
                var isRequired = true;
                for (let input of inputs) {
                    if (input.value.trim() == '') {
                        isRequired = false;
                    }
                }
                if (!isRequired) {
                    console.log('Không được để trống bất kì trường nào');
                    alert('Không được để trống bất kì trường nào');
                } else {
                    var inputArr = $('#form-add').serialize().split('&sx=');
                    var i = 0;
                    var inputStr = inputArr.reduce((output, e) => {
                        if (i == 0) {
                            i++;
                            return output + '%7C' + e.slice(3);
                        }
                        return output + '%7C' + e;
                    }, '');
                    $.ajax({
                        url: `/importexport/dialogsend?inputStr=${inputStr}`,
                        success: data => {
                            console.log('da them');
                            alert('Đã thêm thành công!');
                            for (let input of inputs) {
                                input.value = '';
                            }
                        }
                    });
                }
            })
        }

        $(function () {
            addSentence();
            cancelSentence();
            handleSend();
        })
    </script>    
}

