@model Bilinguals.Domain.Models.ApplicationRole

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container bg-white shadow-sm rounded-pill2">
    <h3 class="text-center pt-4">Delete</h3>

    <h4 class="text-center">Are you sure you want to delete this role : <em style="color:red">@Html.DisplayFor(model => model.Name)</em> ?</h4>
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group pt-3 pb-4">
                <div class="col-md-offset-2 col-md-auto text-center">
                    <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
                    @Html.ActionLink("Back to List", "Index", "", new { @class = "btn-sm btn btn-secondary", style = "text-decoration: none;" })
                </div>
            </div>
        }
    </div>
</div>

