@model Bilinguals.Domain.Models.Group

@{
    ViewBag.Title = "Thêm mới";
    var returnUrl = Request.QueryString["returnUrl"];
}

<div class="modal-body">
   @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "my-form", @class = "needs-validation", novalidate = "novalidate" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(Model => Model.Description)
        @Html.HiddenFor(Model => Model.DateModified)

        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control py-2", required = "required", placeholder = "Enter group name", autocomplete = "off" } })
        <div class="valid-feedback py-2">
            Looks good!
        </div>
    }
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-cl btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" form="my-form" class="btn btn-custom1">Save</button>
</div>

<script src="~/Scripts/Components/bootstrap5-validation.js"></script>


