@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');

body {
    background-color: #f1f8ff;
    font-family: 'Balsamiq Sans', cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dropstart .dropdown-toggle::before {
    display: none;
}

/* Custom color */
.bg-custom1 {
    background-color: #092139; /*xanh dam*/
}

.bg-custom2 {
    background-color: #003568; /*xanh nhat*/
}

.bg-custom3 {
    background-color: #cfe7ff; /*xanh nen nhat*/
}

.bg-custom4 {
    background-color: #f2f2f2; /*cau hoi thoai*/
}

.btn-custom1 {
    color: #fff;
    background-color: #00356a;
    border-color: #00356a;
}

    .btn-custom1:hover {
        color: #fff;
        background-color: #092139;
        border-color: #092139;
    }

    .btn-check:focus + .btn-custom1, .btn-custom1:focus {
        color: #fff;
        background-color: #00356a;
        border-color: #00356a;
        box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
    }

    .btn-check:checked + .btn-custom1, .btn-check:active + .btn-custom1, .btn-custom1:active, .btn-custom1.active, .show > .btn-custom1.dropdown-toggle {
        color: #fff;
        background-color: #00356a;
        border-color: #f9fafb;
    }

        .btn-check:checked + .btn-custom1:focus, .btn-check:active + .btn-custom1:focus, .btn-custom1:active:focus, .btn-custom1.active:focus, .show > .btn-custom1.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
        }

    .btn-custom1:disabled, .btn-custom1.disabled {
        color: #000;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
    }

.btn-custom2 { /*dropdown save*/
    color: #fff;
    background-color: #3b4c5d;
    border-color: #3b4c5d;
}

    .btn-custom2:hover {
        color: #fff;
        background-color: #092139;
        border-color: #092139;
    }

    .btn-check:focus + .btn-custom2, .btn-custom2:focus {
        color: #fff;
        background-color: #3b4c5d;
        border-color: #f9fafb;
        box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
    }

    .btn-check:checked + .btn-custom2, .btn-check:active + .btn-custom2, .btn-custom2:active, .btn-custom2.active, .show > .btn-custom2.dropdown-toggle {
        color: #fff;
        background-color: #3b4c5d;
        border-color: #f9fafb;
    }

        .btn-check:checked + .btn-custom2:focus, .btn-check:active + .btn-custom2:focus, .btn-custom2:active:focus, .btn-custom2.active:focus, .show > .btn-custom2.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
        }

    .btn-custom2:disabled, .btn-custom2.disabled {
        color: #000;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
    }

/* out line */
.btn-outline-custom1 {
    color: #092139;
    border-color: #092139;
}

    .btn-outline-custom1:hover {
        color: #fff !important;
        background-color: #092139;
        border-color: #092139;
    }

    .btn-check:focus + .btn-outline-custom1, .btn-outline-custom1:focus {
        box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
    }

    .btn-check:checked + .btn-outline-custom1, .btn-check:active + .btn-outline-custom1, .btn-outline-custom1:active, .btn-outline-custom1.active, .btn-outline-custom1.dropdown-toggle.show {
        color: #fff;
        background-color: #092139;
        border-color: #092139;
    }

        .btn-check:checked + .btn-outline-custom1:focus, .btn-check:active + .btn-outline-custom1:focus, .btn-outline-custom1:active:focus, .btn-outline-custom1.active:focus, .btn-outline-custom1.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
        }

    .btn-outline-custom1:disabled, .btn-outline-custom1.disabled {
        color: #f8f9fa;
        background-color: transparent;
    }



.btn-outline-custom2 { /* dropdown save */
    color: #092139;
    background-color: #cfe7ff;
    border-color: #fff;
}

    .btn-outline-custom2:hover {
        color: #fff;
        background-color: #092139;
        border-color: #fff;
    }

    .btn-check:focus + .btn-outline-custom2, .btn-outline-custom2:focus {
        box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
    }

    .btn-check:checked + .btn-outline-custom2, .btn-check:active + .btn-outline-custom2, .btn-outline-custom2:active, .btn-outline-custom2.active, .btn-outline-custom2.dropdown-toggle.show {
        color: #092139;
        background-color: #cfe7ff;
        border-color: #fff;
    }

        .btn-check:checked + .btn-outline-custom2:focus, .btn-check:active + .btn-outline-custom2:focus, .btn-outline-custom2:active:focus, .btn-outline-custom2.active:focus, .btn-outline-custom2.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(248, 249, 250, 0.5);
        }

    .btn-outline-custom2:disabled, .btn-outline-custom2.disabled {
        color: #f8f9fa;
        background-color: transparent;
    }

.rounded-pill1 {
    border-radius: 0.5rem !important;
}

.rounded-pill2 {
    border-radius: 1.3rem !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item.save {
    margin-bottom: 0.5rem;
}

.dropdown-item.remove {
    margin-left: 0px !important;
}

.dropdown-item.create {
    background-color: #00b8ff;
    color: white;
}
    .dropdown-item.create:hover {
        background-color: #009fdc;
    }

.dropdown-item.remove {
    background-color: #ff0000;
    color: white;
}

    .dropdown-item.remove:hover {
        background-color: #c00;
    }

.dropdown-menu.savedropdown {
    padding-bottom: 0px !important;
}


.btnnopadding {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    /*padding: 0.375rem 0.75rem;*/
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btnnopadding {
        transition: none;
    }
}

.btnnopadding:hover {
    color: #212529;
}

.btnnopadding-check:focus + .btnnopadding, .btnnopadding:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btnnopadding:disabled, .btnnopadding.disabled, fieldset:disabled .btnnopadding {
    pointer-events: none;
    opacity: 0.65;
}

.shadow-custom1 {
    box-shadow: 0 0.125rem 0.25rem rgb(18 48 77) !important
}

.px-custom1 {
    padding-right: 6rem !important;
    padding-left: 6rem !important;
}