@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap');

body {
    background-color: #f1f8ff;
    font-family: 'Balsamiq Sans', cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.dropstart .dropdown-toggle::before {
    display: none;
}

/* Custom color */
.bg-custom1 {
    background-color: #092139; /*xanh dam*/
}

.bg-custom2 {
    background-color: #003568; /*xanh nhat*/
}

.bg-custom3 {
    background-color: #cfe7ff; /*xanh nen nhat*/
}

.btn-custom1 {
    color: #fff;
    background-color: #00356a;
    border-color: #003568;
}

    .btn-custom1:hover {
        color: #fff;
        background-color: #092139;
        border-color: #003568;
    }

    .btn-check:focus + .btn-custom1, .btn-custom1:focus {
        color: #fff;
        background-color: #092139;
        border-color: #003568;
        box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
    }

    .btn-check:checked + .btn-custom1, .btn-check:active + .btn-custom1, .btn-custom1:active, .btn-custom1.active, .show > .btn-custom1.dropdown-toggle {
        color: #fff;
        background-color: #092139;
        border-color: #0a53be;
    }

        .btn-check:checked + .btn-custom1:focus, .btn-check:active + .btn-custom1:focus, .btn-custom1:active:focus, .btn-custom1.active:focus, .show > .btn-custom1.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
        }

    .btn-custom1:disabled, .btn-custom1.disabled {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }

.btn-custom2 { /*dropdown save*/
    color: #fff;
    background-color: #3b4c5d;
    border: 4px solid #cfe7ff;
}

    .btn-custom2:hover {
        color: #fff;
        background-color: #092139;
        border-color: #cfe7ff;
    }

    .btn-check:focus + .btn-custom2, .btn-custom2:focus {
        color: #fff;
        background-color: #092139;
        border-color: #fff;
        box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
    }

    .btn-check:checked + .btn-custom2, .btn-check:active + .btn-custom2, .btn-custom2:active, .btn-custom2.active, .show > .btn-custom2.dropdown-toggle {
        color: #fff;
        background-color: #092139;
        border-color: #fff;
    }

        .btn-check:checked + .btn-custom2:focus, .btn-check:active + .btn-custom2:focus, .btn-custom2:active:focus, .btn-custom2.active:focus, .show > .btn-custom2.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
        }

    .btn-custom2:disabled, .btn-custom2.disabled {
        color: #fff;
        background-color: #0d6efd;
        border-color: #cfe7ff;
    }

/* out line */
.btn-outline-custom1 {
    color: #092139;
    border-color: #092139;
}

    .btn-outline-custom1:hover {
        color: #fff;
        background-color: #092139;
        border-color: #092139;
    }

    .btn-check:focus + .btn-outline-custom1, .btn-outline-custom1:focus {
        box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
    }

    .btn-check:checked + .btn-outline-custom1, .btn-check:active + .btn-outline-custom1, .btn-outline-custom1:active, .btn-outline-custom1.active, .btn-outline-custom1.dropdown-toggle.show {
        color: #fff;
        background-color: #092139;
        border-color: #092139;
    }

        .btn-check:checked + .btn-outline-custom1:focus, .btn-check:active + .btn-outline-custom1:focus, .btn-outline-custom1:active:focus, .btn-outline-custom1.active:focus, .btn-outline-custom1.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
        }

    .btn-outline-custom1:disabled, .btn-outline-custom1.disabled {
        color: #092139;
        background-color: transparent;
    }

.btn-outline-custom2 { /* dropdown save */
    color: #092139;
    background-color: #cfe7ff;
    border-color: #fff;
}

    .btn-outline-custom2:hover {
        color: #fff;
        background-color: #092139;
        border-color: #fff;
    }

    .btn-check:focus + .btn-outline-custom2, .btn-outline-custom2:focus {
        box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
    }

    .btn-check:checked + .btn-outline-custom2, .btn-check:active + .btn-outline-custom2, .btn-outline-custom2:active, .btn-outline-custom2.active, .btn-outline-custom2.dropdown-toggle.show {
        color: #fff;
        background-color: #092139;
        border-color: #092139;
    }

        .btn-check:checked + .btn-outline-custom2:focus, .btn-check:active + .btn-outline-custom2:focus, .btn-outline-custom2:active:focus, .btn-outline-custom2.active:focus, .btn-outline-custom2.dropdown-toggle.show:focus {
            box-shadow: 0 0 0 0.25rem rgba(33, 37, 41, 0.5);
        }

    .btn-outline-custom2:disabled, .btn-outline-custom2.disabled {
        color: #092139;
        background-color: transparent;
    }